#root {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
  mix-blend-mode: difference;
  animation: fadeIn 2s;
}

p {
  font-size: 1em;
  color: #f1f1f1;
  mix-blend-mode: difference;
  font-weight: 500;
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.content {
  padding: 2rem;
}